<style>
  .row .col h1 {
    font-size: 24px;
    padding-top: 10px;
  }

  .row .col img {
    width: 50px;
    height: 50px;
  }

  .not-found {
    align-items: center;
  }

  .no-task-img {
    width: 100%;
    border-top-left-radius: 50px;
    border-end-end-radius: 50px;
  }
  .card {
    width: 100%;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-img {
    text-align: center;
    padding-top: 70px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: dodgerblue;
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 152, 219, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .card:hover .card-overlay {
    opacity: 1;
  }

  h1,
  p {
    margin: 0;
  }
</style>
<div class="container pb-5 mb-5">
  <div class="row mb-4 align-items-center">
    <div class="col">
      <a class="new" href="/dashboard/add"
        ><script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon
          src="https://cdn.lordicon.com/rcgrnzji.json"
          trigger="hover"
          state="hover-swirl"
          colors="primary:#1e90ff,secondary:#4030e8"
          style="width: 50px; height: 50px"
        >
        </lord-icon>
      </a>
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <h1><%= userName%></h1>
      <img
        class="ms-2"
        style="border-radius: 50%"
        src="<%= photo%>"
        alt="profileImage"
      />
    </div>
  </div>

  <div class="row justify-content-around">
    <% if(tasks.length > 0){ tasks.forEach(task => { %>
    <div class="text-center col-12 col-sm-12 col-md-4 col-lg-3 mb-5">
      <a
        href="/dashboard/item/<%= task._id  %>"
        class="card-body text-decoration-none"
      >
        <div class="card">
          <h1 class="card-img">TASK | APP</h1>
          <div class="card-overlay">
            <h1 class="text-truncate"><%= task.title %></h1>
            <p class="text-truncate"><%= task.body %></p>
          </div>
        </div>
      </a>
    </div>
    <% }) } else { %>
    <div class="row not-found">
      <div class="col-6">
        <h2 class="display-1 fw-bold">Welcome</h2>
        <h4 class="display-6">Let's start your first task!</h4>
        <a href="/dashboard/add" class="text-decoration-none fs-5 text-primary"
          >Create One</a
        >
      </div>
      <div class="col-6">
        <img class="no-task-img" src="/images/hero.jpeg" alt="task-image" />
      </div>
    </div>
    <% } if(tasks.length > 0){ %>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <% if(current == 1) { %>
        <li class="page-item">
          <a class="page-link" href="#"> Previous </a>
        </li>
        <% } else { %>
        <li class="page-item">
          <a class="page-link" href="/dashboard">First</a>
        </li>
        <% } let i = current > 5 ? current - 4 : 1 %> <% if(i !== 1) { %>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <% } %> <% for( ; i <= current + 4 && i < pages; i++ ) { %> <% if(i ==
        current) { %>
        <li class="page-item"><a class="page-link" href="#"><%= i %></a></li>
        <% } else { %>
        <li class="page-item">
          <a class="page-link" href="/dashboard/?page=<%= i %>"><%= i %></a>
        </li>
        <% } %> <% if(i == current + 4 && i < pages) { %>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <% } %> <% } %> <% if(pages == current) { %>
        <li class="page-item"><a class="page-link" href="#">Last</a></li>
        <% } else { %>
        <li class="page-item">
          <a class="page-link" href="/dashboard/?page=<%= pages %>">Last</a>
        </li>
        <% } %>
      </ul>
    </nav>
    <% } %>
  </div>
</div>
